GitPython==0.3.2.RC1
PyGithub==1.21.0
PyYAML==3.11
argparse==1.2.1
async==0.6.1
chardet==2.1.1
clamd==1.0.1
cluster==1.1.1b3
esmre==0.3.1
futures==2.1.5
gitdb==0.5.4
guess-language==0.2
halberd==0.2.4
lxml==2.3.2
msgpack-python==0.2.4
nltk==2.0.4
pdfminer==20110515
-e git+https://github.com/andresriancho/phply.git@435f523918145437e22d43712abcb4956e106178#egg=phply-master
ply==3.4
pyOpenSSL==0.13.1
pybloomfiltermmap==0.3.11
python-ntlm==1.0.1
scapy-real==2.2.0-dev
six==1.6.1
smmap==0.8.2
wsgiref==0.1.2
