body, td { 
	color: #000000;
	background-color: #ffffff; 
	font-family: sans-serif; 
	font-size: 13; 
	}

pre {
	font-family: arial }

code { background-color: #E0E0E0; }

em { font-family: Courier New;
	font-style:normal;
	color: blue;
	}

.python {
	position: relative;
	left: 5%;
	width: 80%;
	background-color: #F0F0F0; 
	color:black;
	font-family: "Courier New"; 
	font-weight: bold;
	font-size: 13;
	border-width: 1; 
	border-style:dashed;
	border-color:black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right:5px;
	}

.html {
	position: relative;
	left: 5%;
	width: 60%;
	background-color: #EEEEEE; 
	color:black;
	font-family: Courier; 
	font-size: 12;
	border-width: 1; 
	border-style:dotted;
	border-color:black;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	}

.console { position: relative;
	left: 5%;
	width: 60%;
	background-color: #000000; 
	color: white;
	font-family: "Courier New";
	border-width: 4; 
	border-style:ridge;
	border-color:#E0E0E0;
	padding-bottom: 12px;
	padding-top: 12px;
	padding-left: 12px;
	}

td.quickref1 { vertical-align: top;
    font-weight: bold;
    }

td.tablename { vertical-align: top;
	text-align: center;
    font-weight: bold;
    }

ol { margin-left : 20px;
	}

a { text-decoration: none;
	color: #000000;
   }

a:hover {color:#FFFFFF; 
	background-color:#404040; }

a.normal { color: blue; }
a.normal:hover {color:#FFFFFF; }
