{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "public_web_api"
  },
  "host": "target.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/Cards/Purchases/Activate": {
      "post": {
        "tags": [
          "Cards"
        ],
        "operationId": "CreateActivateCardPurchase_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "createActivateCardPurchaseRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActivateCardPurchaseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Partners/{PartnerId}/CreditTemplates/{CreditTemplateId}/_commands/Activate": {
      "post": {
        "tags": [
          "CreditTemplates"
        ],
        "operationId": "CreateActivateCreditTemplateForMerchantCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActivateCreditTemplateForMerchantCommandRequest"
            }
          },
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "CreditTemplateId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/PendingInvoices/{pendingInvoiceId}/_commands/AntiFraudCallback": {
      "post": {
        "tags": [
          "PendingInvoices"
        ],
        "operationId": "CreateAntiFraudCallbackCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "antiFraudCallbackRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAntiFraudCallbackCommandRequest"
            }
          },
          {
            "name": "pendingInvoiceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/cards/transactions": {
      "post": {
        "tags": [
          "Cards"
        ],
        "operationId": "CreateCardTransaction_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCardTransactionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Cards/Transaction/{TransactionId}/_commands/SetNotificationDate": {
      "post": {
        "tags": [
          "Cards"
        ],
        "operationId": "CreateCardTransactionSetNotificationDateCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCardTransactionSetNotificationDateCommandRequest"
            }
          },
          {
            "name": "TransactionId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[CreateCardTransactionSetNotificationDateCommandResponse]"
            }
          }
        }
      }
    },
    "/api/ReservationApplications/{ReservationApplicationId}/_commands/Complete": {
      "post": {
        "tags": [
          "ReservationApplication"
        ],
        "operationId": "CreateCompleteReservationApplicationCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCompleteReservationApplicationCommandRequest"
            }
          },
          {
            "name": "ReservationApplicationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[CreateCompleteReservationApplicationCommandResponse]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/_commands/ConvertAccount": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "CreateConvertAccountCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateConvertAccountCommandRequest"
            }
          },
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/ReservationApplications/{ReservationApplicationId}/_commands/PerformCreditCheck": {
      "post": {
        "tags": [
          "ReservationApplication"
        ],
        "operationId": "CreateCreditCheckForReservationApplication_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCreditCheckForReservationApplicationRequest"
            }
          },
          {
            "name": "ReservationApplicationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[CreateCreditCheckForReservationApplicationResponse]"
            }
          }
        }
      }
    },
    "/api/Countries/{CountryCode}/CreditTemplates": {
      "get": {
        "tags": [
          "CreditTemplates"
        ],
        "operationId": "GetCreditTemplatesByCountry_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "onlyFallbackTemplates",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "forCompany",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetCreditTemplateResponse]]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "CreditTemplates"
        ],
        "operationId": "CreateCreditTemplate_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCreditTemplateRequest"
            }
          },
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/CreditTermsClassificationConsents": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "CreateCreditTermsClassificationConsentByAccountId_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCreditTermsClassificationConsentByAccountIdRequest"
            }
          },
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Partners/{PartnerId}/CreditTemplates/{CreditTemplateId}/_commands/Deactivate": {
      "post": {
        "tags": [
          "CreditTemplates"
        ],
        "operationId": "CreateDeactivateCreditTemplateForMerchantCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDeactivateCreditTemplateForMerchantCommandRequest"
            }
          },
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "CreditTemplateId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/_commands/DebtCollectionExport": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "CreateDebtCollectionExportCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDebtCollectionExportCommandRequest"
            }
          },
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/DefaultCreditTemplateConfigurations": {
      "post": {
        "tags": [
          "CreditTemplates"
        ],
        "operationId": "CreateDefaultCreditTemplateConfiguration_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDefaultCreditTemplateConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/Reservations/{PartnerId}/_commands/EvaluateStatus": {
      "post": {
        "tags": [
          "Reservations"
        ],
        "operationId": "CreateEvaluateReservationStatusCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEvaluateReservationStatusCommandRequest"
            }
          },
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Countries/{CountryCode}/FloatingInterestDefinitions": {
      "get": {
        "tags": [
          "Floating Interest"
        ],
        "operationId": "GetFloatingInterestDefinitions_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetFloatingInterestDefinitionsResponse]"
            }
          }
        }
      }
    },
    "/api/Countries/{CountryCode}/FloatingInterestDefinitions/{FloatingInterestDefinitionId}/Values": {
      "get": {
        "tags": [
          "Floating Interest"
        ],
        "operationId": "GetFloatingInterestValues_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "FloatingInterestDefinitionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetFloatingInterestValuesResponse]"
            }
          }
        }
      }
    },
    "/api/Transactions/_commands/CreateKortaPayment": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "CreateKortaPaymentCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateKortaPaymentCommandRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[CreateKortaPaymentCommandResponse]"
            }
          }
        }
      }
    },
    "/api/Transactions/_commands/CreateKortaRefund": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "CreateKortaRefundCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateKortaRefundCommandRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[CreateKortaRefundCommandResponse]"
            }
          }
        }
      }
    },
    "/api/Payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "CreatePayment_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[CreatePaymentResponse]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/PreferredInvoiceAddress": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetPreferredInvoiceAddress_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetPreferredInvoiceAddressResponse]"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "CreatePreferredInvoiceAddress_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePreferredInvoiceAddressRequest"
            }
          },
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "operationId": "RemovePreferredInvoiceAddress_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/PendingInvoices/{pendingInvoiceId}/_commands/Reject": {
      "post": {
        "tags": [
          "PendingInvoices"
        ],
        "operationId": "CreateRejectPendingInvoiceCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRejectPendingInvoiceCommandRequest"
            }
          },
          {
            "name": "pendingInvoiceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/PendingInvoices/{pendingInvoiceId}/_commands/Release": {
      "post": {
        "tags": [
          "PendingInvoices"
        ],
        "operationId": "CreateReleasePendingInvoiceCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReleasePendingInvoiceCommandRequest"
            }
          },
          {
            "name": "pendingInvoiceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/Reservations/{PartnerId}": {
      "post": {
        "tags": [
          "Reservations"
        ],
        "operationId": "CreateReservation_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReservationRequest"
            }
          },
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/ReservationApplications": {
      "post": {
        "tags": [
          "ReservationApplication"
        ],
        "operationId": "CreateReservationApplication_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReservationApplicationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[CreateReservationApplicationResponse]"
            }
          }
        }
      }
    },
    "/api/Rules": {
      "get": {
        "tags": [
          "Rules"
        ],
        "operationId": "GetRules_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "expandCriteria",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetRuleResponse]]"
            }
          }
        }
      }
    },
    "/api/Rules/{RuleId}/Criteria": {
      "get": {
        "tags": [
          "Rules"
        ],
        "operationId": "GetRuleCriteria_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "RuleId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetRuleCriterionResponse]]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/_commands/SetInvoiceRelatedEmails": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "CreateSetCustomersInvoiceRelatedEmailsCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSetCustomersInvoiceRelatedEmailsCommandRequest"
            }
          },
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/_commands/SetInvoiceRelatedMobilePhones": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "CreateSetCustomersInvoiceRelatedMobilePhonesCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSetCustomersInvoiceRelatedMobilePhonesCommandRequest"
            }
          },
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Transactions/_commands/TransferBalance": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "CreateTransferBalanceCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTransferBalanceCommandRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Payments/SoldDebtPaymentsToProcess/{SoldDebtPaymentToProcessId}/_commands/TransferToBank": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "CreateTransferToBankCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTransferToBankCommandRequest"
            }
          },
          {
            "name": "SoldDebtPaymentToProcessId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/_commands/UpdateEmailAddress": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "CreateUpdateEmailAddressCommand_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUpdateEmailAddressCommandRequest"
            }
          },
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/Details": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountDetails_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetAccountDetailsResponse]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/Accounts/MissingEmail": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetAccountsWithMissingEmail_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "hasSuppressNotificationDeliverySet",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetAccountsWithMissingEmailResponse]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/Transactions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountTransactions_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "validForCreditNote",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetAccountTransactionsResponse]]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/TransferInformation": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountTransferInformation_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetAccountTransferInformationResponse]"
            }
          }
        }
      }
    },
    "/api/Partners/{PartnerId}/AccountTypes": {
      "get": {
        "tags": [
          "Partners"
        ],
        "operationId": "GetAccountTypes_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[AccountTypeResponse]]"
            }
          }
        }
      }
    },
    "/api/Partners/{PartnerId}/AccountTypeSettings": {
      "get": {
        "tags": [
          "Partners"
        ],
        "operationId": "GetAccountTypeSettings_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetAccountTypeSettingResponse]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/Accounts/Active": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetActiveAccounts_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetActiveAccountsResponse]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/ActiveFixedInstallmentAccounts": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetActiveFixedInstallmentAccounts_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "excludeNotifiedAccounts",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetActiveFixedInstallmentAccountsResponse]]"
            }
          }
        }
      }
    },
    "/api/Customers/{CountryCode}/{RegistrationNumber}/Notifications/Active": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetActiveNotifications_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "RegistrationNumber",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetActiveNotificationsResponse]]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/Notifications/Active": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetActiveNotificationsByCustomerId_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetActiveNotificationsByCustomerIdResponse]]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/AnnualInterestStatements/{Year}/PDF": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetAnnualInterestStatementPdf_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Year",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Stream]"
            }
          }
        }
      }
    },
    "/api/Customers/{CountryCode}/{RegistrationNumber}/BlockedForPurchase": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetBlockedForPurchase_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "RegistrationNumber",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "partnerId",
            "in": "query",
            "description": "(PARTNER_ID_REQUIRED)",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "accountType",
            "in": "query",
            "description": "(ACCOUNTTYPE_IS_REQUIRED)",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetBlockedForPurchaseResponse]"
            }
          }
        }
      }
    },
    "/api/cards/metadata/{purchaseIdentifier}": {
      "get": {
        "tags": [
          "Cards"
        ],
        "operationId": "GetCardMetadata_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "purchaseIdentifier",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetCardMetadataResponse]"
            }
          }
        }
      }
    },
    "/api/cards/reservations/{ReservationId}/transactions": {
      "get": {
        "tags": [
          "Cards"
        ],
        "operationId": "GetCardTransactions_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ReservationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Range: inclusive between 0 and 2147483647 (PAGE_INDEX_POSITIVE)",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Range: inclusive between 1 and 2147483647 (PAGE_SIZE_POSITIVE)",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[PagedResponse[CardTransaction]]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/Commitments": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCommitments_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetCommitmentsResponse]]"
            }
          }
        }
      }
    },
    "/api/Customers/{CountryCode}/{RegistrationNumber}/CompanyInformation": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCompanyInformation_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "RegistrationNumber",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetCompanyInformationResponse]]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/ConversionOptions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetConversionOptions_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetConversionOptionsResponse]"
            }
          }
        }
      }
    },
    "/api/Countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "operationId": "GetCountries_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetCountryResponse]]"
            }
          }
        }
      }
    },
    "/api/CountrySettings/{CountryCode}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "operationId": "GetCountrySetting_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetCountrySettingResponse]"
            }
          }
        }
      }
    },
    "/api/CreditCheckResult/{CreditCheckResultId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCreditCheckResult_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CreditCheckResultId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetCreditCheckResultResponse]"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "operationId": "ModifyCreditCheckResult_Patch",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyCreditCheckResultRequest"
            }
          },
          {
            "name": "CreditCheckResultId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Object]"
            }
          }
        }
      }
    },
    "/api/Countries/{CountryCode}/CreditServices": {
      "get": {
        "tags": [
          "CreditTemplates"
        ],
        "operationId": "GetCreditServicesByCountry_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "forCompany",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetCreditServiceResponse]]"
            }
          }
        }
      }
    },
    "/api/Partners/{PartnerId}/CreditTemplates": {
      "get": {
        "tags": [
          "CreditTemplates"
        ],
        "operationId": "GetCreditTemplatesByPartner_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetCreditTemplateResponse]]"
            }
          }
        }
      }
    },
    "/api/CreditCheckResults/{CreditCheckResultId}/CreditValidationTemplate": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCreditValidationTemplate_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CreditCheckResultId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetCreditValidationTemplateResponse]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomer_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetCustomerResponse]"
            }
          }
        }
      }
    },
    "/api/Countries/{CountryCode}/Customers/{RegistrationNumber}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomerByRegistrationNumber_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "RegistrationNumber",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetCustomerByRegistrationNumberResponse]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/Commitments/{PartnerId}/Proxies": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomerProxies_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetCustomerProxiesResponse]"
            }
          }
        }
      }
    },
    "/api/Customers/Email": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomersByEmail_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "(EMAIL_REQUIRED)<br/>Value must be a valid email. (EMAIL_INVALID)",
            "required": true,
            "type": "string"
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "(COUNTRY_CODE_REQUIRED)<br/>Value must be a country code according to the ISO 3166 format. (COUNTRY_CODE_INVALID)",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[CustomerData]]"
            }
          }
        }
      }
    },
    "/api/Countries/{CountryCode}/DefaultCreditTemplateConfigurations": {
      "get": {
        "tags": [
          "CreditTemplates"
        ],
        "operationId": "GetDefaultCreditTemplateConfigurationsByCountry_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CountryCode",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "forCompany",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetDefaultCreditTemplateConfigurationResponse]]"
            }
          }
        }
      }
    },
    "/api/Notifications/{NotificationId}/DueDateInformation": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetDueDateInformation_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "NotificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetDueDateInformationResponse]"
            }
          }
        }
      }
    },
    "/api/Notification/PDF/External": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetExternalNotificationPdf_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "query",
            "description": "(PAYLOAD_IS_REQUIRED)",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Stream]"
            }
          }
        }
      }
    },
    "/api/Notifications/{NotificationId}/Documents/MainApplicant": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetMainApplicantNotificationDocument_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "NotificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[NotificationExportOrderDocument]"
            }
          }
        }
      }
    },
    "/api/Notifications/{NotificationId}/Details": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetNotificationDetails_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "NotificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetNotificationDetailsResponse]"
            }
          }
        }
      }
    },
    "/api/ExportOrders/{ExportOrderId}/Document": {
      "get": {
        "tags": [
          "Export Orders"
        ],
        "operationId": "GetNotificationDocumentByExportOrderId_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ExportOrderId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[NotificationExportOrderDocument]"
            }
          }
        }
      }
    },
    "/api/Notifications/{NotificationId}/Documents": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetNotificationDocumentsByNotificationId_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "NotificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[NotificationExportOrderDocument]]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/Notifications/History": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetNotificationHistory_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "(PAGE_SIZE_REQUIRED)<br/>Range: inclusive between 1 and 50 ()",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "minimum": 1
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "Range: inclusive between 0 and 2147483647 ()",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 0
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetNotificationHistoryResponse]"
            }
          }
        }
      }
    },
    "/api/Notifications/{NotificationId}/PDF": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetNotificationPdf_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "NotificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Stream]"
            }
          }
        }
      }
    },
    "/api/Notifications/{NotificationId}/SecondaryApplicant/PDF": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "operationId": "GetNotificationPdfForSecondaryApplicant_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "NotificationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[Stream]"
            }
          }
        }
      }
    },
    "/api/Partners/{PartnerId}": {
      "get": {
        "tags": [
          "Partners"
        ],
        "operationId": "GetPartner_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetPartnerResponse]"
            }
          }
        }
      }
    },
    "/api/Partners/{PartnerId}/Agreement": {
      "get": {
        "tags": [
          "Partners"
        ],
        "operationId": "GetPartnerAgreement_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetPartnerAgreementResponse]"
            }
          }
        }
      }
    },
    "/api/Partners/Names": {
      "get": {
        "tags": [
          "Partners"
        ],
        "operationId": "GetPartnersNames_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetPartnersNamesResponse]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/PendingCreditTransactions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetPendingCreditTransactions_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[IEnumerable[GetAccountTransactionsResponse]]"
            }
          }
        }
      }
    },
    "/api/PortalUsers/{Username}": {
      "get": {
        "tags": [
          "Portal Users"
        ],
        "operationId": "GetPortalUser_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "Username",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetPortalUserResponse]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/PreferredInvoiceAddress/History": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetPreferredInvoiceAddressHistory_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetPreferredInvoiceAddressHistoryResponse]"
            }
          }
        }
      }
    },
    "/api/Accounts/{AccountId}/PrimaryEmailAddress": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetPrimaryEmailAddressByAccountId_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetPrimaryEmailAddressByAccountIdResponse]"
            }
          }
        }
      }
    },
    "/api/Partners/{PartnerId}/Products": {
      "get": {
        "tags": [
          "Partners"
        ],
        "operationId": "GetProducts_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "PartnerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "includeInternalProducts",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetProductsResponse]"
            }
          }
        }
      }
    },
    "/api/Transactions/{TransactionId}/PurchaseMetadata": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "GetPurchaseMetadata_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "TransactionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetPurchaseMetadataResponse]"
            }
          }
        }
      }
    },
    "/api/Reports/{ReportName}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "GetReport_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ReportName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetReportResponse]"
            }
          }
        }
      }
    },
    "/api/ReservationApplications/{ReservationApplicationId}": {
      "get": {
        "tags": [
          "ReservationApplication"
        ],
        "operationId": "GetReservationApplication_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ReservationApplicationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetReservationApplicationResponse]"
            }
          }
        }
      }
    },
    "/api/Customers/{CustomerId}/Reservations": {
      "get": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetReservations_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "CustomerId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "partnerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetReservationsResponse]"
            }
          }
        }
      }
    },
    "/api/Rules/{RuleId}": {
      "get": {
        "tags": [
          "Rules"
        ],
        "operationId": "GetRule_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "RuleId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expandCriteria",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "performedBy",
            "in": "query",
            "description": "(PERFORMED_BY_REQUIRED)<br/>String length: inclusive between 0 and 50 (PERFORMED_BY_LENGTH)",
            "required": true,
            "type": "string",
            "maxLength": 50,
            "minLength": 0
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response[GetRuleResponse]"
            }
[...]
