{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Swagger Petstore",
    "description": "A sample API that uses a petstore as an example to demonstrate features in the swagger-2.0 specification",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "Swagger API Team"
    },
    "license": {
      "name": "MIT"
    }
  },
  "host": "w3af.org",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/pets": {
      "get": {
        "description": "Returns all pets from the system that the user has access to",
        "operationId": "findPets",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Foo-Header",
            "in": "header",
            "description": "magic-header",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Bar-Header",
            "in": "header",
            "description": "another-magic-header",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "pet response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Pet"
              }
            }
          }
        }
      }
    },
    "/cats": {
      "get": {
        "description": "Returns all cats from the system that the user has access to",
        "operationId": "findCats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Foo-Header",
            "in": "header",
            "description": "magic-header",
            "required": true,
            "type": "string",
            "enum": [
              "foo", "bar"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of results to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "X-Awesome-Header",
            "in": "header",
            "description": "awesome-header",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 2018
          }
        ],
        "responses": {
          "200": {
            "description": "pet response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Pet"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Pet": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/NewPet"
        },
        {
          "required": [
            "id"
          ],
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      ]
    },
    "NewPet": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        }
      }
    }
  }
}